
  <div class="Service-content">

    <h1>I pranavamuthu I will teach you</h1>
    <h3>Follwing Coures</h3>
    
    {{#if coures}}
    <ul>
      {{#each coures}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    {{else}}
    <p>No Couresce avilable</p>
    {{/if}}
  </div>


  </div>